header {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 36px;
    align-items: center;
    width: 980px;    
}

.image_logo {
    margin-left: -130px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--gradientes-gradiente-normal, linear-gradient(90deg, #7b33da 0%, #c377e9 100%));
    border: none;
    color: var(--cores-branco, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.search-text {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 2px 10px;
    border-radius: 6px;
    border: none;
}
