.movie {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 194px;  
    margin: 20px;
}

.title, 
.duration, 
.year, 
.movie button 
.title>div {
    display: flex;
    align-items: center;

}

.info, 
.title {
    display:flex;
    justify-content: space-between;
}
/* Responsividade movie */

@media (max-width: 480px) {
    .movie {
      margin:  10px; 
    }
    .info,
    .title {
      flex-direction: column; 
      align-items: flex-start; 
    }
   
    .poster>img{
        width: 194px;
        height: 289px;
    }
  }
.title>div {
    color: var(--cores-amarelo, #FEEA35);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.408px;
    display: flex;
    align-items: center;
}

.title span {
    max-width: 140px;
    overflow: hidden;
    color: var(--cores-branco, #FFF);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
}

.poster>img{
    width: 194px;
    height: 289px;
    border-radius: 4px;
}


.duration, 
.year {
    gap: 4px;
    color: var(--cores-cinza-light, #8B8D9B);
    font-family: Outfit;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;



}

.movie button {
    display: flex;
    width: 194px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--cores-cinza, #2B2B37);
    border: none;
    color: var(--cores-branco, #FFF);
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
